@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Libre Baskerville', serif;
}
/*Estilos navbar*/
.navbar {
    background-color: #fabea7;
}
.navbar-nav a {
    font-size: 20px;
    color: #d57149 !important;
    transition: 300ms;
}
.img-logo{
    width: 5%;
    height: 2%;
    margin-left: 50px;
    animation: rotate 3s infinite;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.navbar-nav a:hover {
    margin-bottom: 0;
    border-bottom: 4px #e89f71 solid;
    transform: scale(1.2);
}
.navbar-toggler .navbar-toggler-icon {
    background-color: #e89f71;
}
/*Fin de los estilos de navbar*/
.contenido {
    margin: 10px;
}
.contenido .titulo-principal {
    padding: 20px 20px;
    color: #ec8546;
    text-align: center;
    font-weight: bold;
    text-shadow: 10px 10px rgb(230, 230, 230);
}
.contenido .parrafo {
    background-color: #e7e5e5;
    border-radius: 5px;
}
.contenido .subtitulo {
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
}
.contenido .item {
    border-bottom:3px solid #ec8546;
}






/****Estilos footer***/
footer {
    background-color: #fabea7;
}
footer .img-logo {
   width: 8%;
   margin: 15px;
}
footer .navbar-nav{
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
}
footer .navbar-nav .nav-link {
    padding: 20px; 
    transition: 300ms;
}
footer .navbar-nav a:hover {
    scale: 1.5;
    border: none;
    transform: scale(1.2);
}
footer .footer-nombre {
    color:  #d57149;
}
/*Fin de los estilos footer*/






/************* KEYFRAMES **********/
@keyframes rotate {
    0%, 100% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}
/************* MEDIA **************/
@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .img-logo{
        width: 20%;
        height: 10%;
        margin: 0;
    }
    
    footer .img-logo {
        width: 20%;
    }
    footer .navbar-nav .nav-link {
        padding: 4px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
   
}

